* {
    margin: 0px;
    padding: 0px;
}
nav {
    padding: 25px;
}
nav a {
    text-decoration: none;
    margin-left: 10px;
    padding: 80px;
}
header {
    background-color: green;
    height: 100px;
}